html,body
{
overflow:hidden;
padding: 0px;
margin: 0px;
}

div, img
{
	margin:0px;
	padding: 0px;
}


.buttonsubmit
{
	background-color: transparent;
	color:white;
	border: none;
	font-size: 15px;
	width: 200px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid white;
}

.buttonlangue
{
	background-color: transparent;
	border: none;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
}

button:hover
{
	cursor: pointer;
	background-color: white;
	color:black;
}

button:focus
{
	outline: none;
}
input
{
	background-color: transparent;
	border: none;
	color:white;
	font-size: 30px;
	border-bottom: solid white;
	margin: 0;
	padding: 0;

}

input:focus
{
	outline: none;
}


#barreAccueil
{
	z-index: 5;
	border-collapse: collapse;
	width: 100%;
	position: fixed;
}

#cross
{
	transition: all 0.5s;
	cursor: pointer;
}
#cross:hover
{
	transform: scale(5);
	transform: rotate(180deg);
}

#closeForm
{
	float: right;
}
#formulaire
{
	position: fixed;
	color: white;
	z-index: 6;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition:2s;
}
#itemLostPassword
{
	color:white;
	font-size: 15px;
}


#ligneServices td
{
	background-color: transparent;
	height: 2px;
	transition:0.5s;
}
#login
{
	margin-top: 200px;
}
#logo
{
	height: 60px;
}

#logo2
{
	height: 150px;
}

#logo2 .getBig
{
	height: 200px;
}

#logo2:hover
{
	cursor: pointer;
}


.slogan
{
	font-family:Adam,serif;
	text-align: center;
	width: 100%;
	font-size: 50px;
	bottom: 10px;
	color: white;
	position:absolute;
	z-index: 7;
}

#logoContainer
{
	top:7px;
	text-align: center;
	height: 40px;
	position:fixed;
	z-index: 7;
	width: 100%;
}
.container .caption {
    position: absolute;
    top: 80px;
    left: 0;
}

#login
{
	bottom: 0px;

}

#login td
{
	background-color: transparent;
	margin: 0;
	padding: 0;
	width: 400px;
}

#login p
{
	min-height: inherit;
	display: none;
	font-weight: lighter;
	font-size: 20px;
	margin: 0;
	padding:0;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Arial";
}


.border-left
{
	border-left: solid;
	border-left-width: 2px;

}
.border-right
{
	border-right: solid;
	border-right-width: 2px;
}
.description
{
margin-bottom: 15px;
}
.container
{
	overflow: hidden;
}

td
{
	color: white;
	width: 20%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 25px;
}

.margin0
{
	margin: 0;
}

.menuItem
{
	font-family: CenturyGothic,serif;
	cursor:pointer; /* apparence du curseur */
	transition: 1s;
}

.menuItem:hover{
	color: black;
	background-color: white;
}

#pageAccueil
{
	position: absolute;
}

.imgBackground
{
	width: 100%;
	position:relative;
	z-index: 1;
}



.zoom{
	transition: all 45s ease;
	-moz-transition: all 45s ease;
	-ms-transition: all 45s ease;
	-webkit-transition: all 45s ease;
	-o-transition: all 45s ease;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
}

.relative
{
	position: relative;
}

.langueselect
{
	position:fixed;
	z-index: 8;
	left:92%;
}

@font-face
{
	font-family: 'Adam';
	src:url('fonts/Adam.otf') format('otf'),
		url('fonts/Adam.svg') format('svg'),
		url('fonts/Adam.ttf') format('truetype'),
		url('fonts/Adam.woff') format('woff');
}

@font-face
{
	font-family: 'CenturyGothic';
	src:url('fonts/CenturyGothic.otf') format('otf'),
		url('fonts/CenturyGothic.svg') format('svg'),
		url('fonts/CenturyGothic.ttf') format('truetype'),
		url('fonts/CenturyGothic.woff') format('woff');
}
