*
{
  margin: 0;
  padding: 0;
}

.buttonsubmit
{
	background-color: transparent;
	color:white;
	border: none;
	font-size: 30px;
	width: 400px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid white;
}

.container
{
  width: 100%;
  height: 100vh;
  position: relative;
}

.fixed
{
  position: fixed;
  z-index: 15;
}

#barreDiv
{
  width: 100%;
}

.barreTable
{
  border-collapse: collapse;
  width:100%;

}

.descriptionTable
{
  width: 100%;
  text-align: center;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.descriptionP
{
  color: white;
  font-size: 70px;
}

#barreDiv tr
{
  color:white;
}

#barreDiv td
{
  text-align:center;
  padding: 5px;
  width: 33%;
  padding: 30px;
}

#formulaire
{
	position: fixed;
	color: white;
	z-index: 6;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	transition:2s;
}

#formulaireTab td
{
}
#formulaireTab
{
  border-collapse:separate;
  border-spacing:2em;
  font-size: 30;
}
.formulaireDiv
{
  margin-top: 200px;
}

.inner-container
{
  height: 100%;
  display: flex;
  align-items: center;
}

input
{
	background-color: transparent;
	border: none;
	color:white;
	font-size: 60px;
	border-bottom: solid white;
	margin: 0;
	padding: 0;
  width: 100%;

}

input:focus
{
	outline: none;
}

#login
{
  width: 100%;
  text-align: center;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.logo
{
  padding: 15px;
  width: 100px;
  border-style: solid;
  border-color: white;
  background-color: black;
  border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}


.sloganDiv
{
  text-align: center;
  width: 99.3%;
  position: absolute;
  bottom:0px;
  font-family: CenturyGothic,serif;
	font-size: 50px;
	color:black;
	background-color: white;
  padding: 5px;
}



@font-face
{
	font-family: 'Adam';
	src:url('fonts/Adam.otf') format('otf'),
		url('fonts/Adam.svg') format('svg'),
		url('fonts/Adam.ttf') format('truetype'),
		url('fonts/Adam.woff') format('woff');
}

@font-face
{
	font-family: 'CenturyGothic';
	src:url('fonts/CenturyGothic.otf') format('otf'),
		url('fonts/CenturyGothic.svg') format('svg'),
		url('fonts/CenturyGothic.ttf') format('truetype'),
		url('fonts/CenturyGothic.woff') format('woff');
}
