@font-face
{
	font-family: 'CenturyGothic';
	src:url('../fonts/CenturyGothic.otf') format('otf'),
		url('../fonts/CenturyGothic.svg') format('svg'),
		url('../fonts/CenturyGothic.ttf') format('truetype'),
		url('../fonts/CenturyGothic.woff') format('woff');
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: transparent; /* fallback color if gradients are not supported */
    background-position: center right;
    background-repeat: no-repeat;
		border: none;
    color: rgba(255,255,255,0.8);
		font-size: 30px;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
		width: 300px;
}

#addCapteur
{
	display: none;
}

#addCapteur:hover
{
	cursor: pointer;
}

.noOverflow
{
	position: absolute;
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
	overflow-y: scroll;
}

select:focus
{
	outline: none;
}

select:hover
{
	cursor: pointer;
}
OPTION
{
	text-align:right;
}
OPTION:hover
{
	cursor: pointer;
}
.listepiece
{
	border-collapse: separate;
	word-wrap: break-word;
	width: 100vh;
	margin-left: 50px;
}

.border-bottom
{
	border-bottom: solid white thin;
}

.textbox
{
	font-size: 20px;
	text-align: center;
	position:relative;
	border-radius: 10px 20px;
	margin: 30px;
	background-color: rgba(0,0,0,0.7);
	padding: 50px;
	text-align:center;
	max-height: 135px;
	max-width: 180px;
	transition: 0.6s;
}

.textbox:hover
{
	background-color: white;
	color:black;
	cursor:pointer;
}

.room
{
	font-size: 20px;
	text-align: center;
	position:relative;
	border-radius: 10px 20px;
	margin: 30px;
	background-color: rgba(0,0,0,0.7);
	padding: 50px;
	text-align:center;
	max-height: 135px;
	max-width: 180px;
	transition: 0.6s;
	min-width: 80px;
}

.room:hover
{
	color:black;
}
.selectedHouse
{
	font-size: 20px;
	text-align: center;
	position:relative;
	border-radius: 10px 20px;
	margin: 30px;
	background-color: white;
	color:black;
	padding: 50px;
	text-align:center;
	max-height: 135px;
	max-width: 180px;
	transition: 0.6s;
}

.flecheGauche
{
	font-size: 20px;
	color: black;
	text-align: center;
	position:relative;
	border-radius: 10px 20px;
	margin: 30px;
	margin-left: -38px;
	background-color: white;
	z-index: 30;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align:center;
	max-height: 135px;
	width: 30px;
	transition: 0.5s;
	cursor: default;
}

.flecheGauche:hover
{
	transform: scale(1.1);
}

.flecheDroite
{
	font-size: 20px;
	color: black;
	text-align: center;
	border-radius: 10px 20px;
	background-color: white;
	z-index: 30;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align:center;
	max-height: 135px;
	width: 30px;
	transition: 0.5s;
	cursor: default;
	display: none;
	position: absolute;
	margin-top: 30px;
	margin-left: 5px;
}
.flecheDroite:hover
{
	transform: scale(1.1);
}

body
{
	background-image:url("../img/backgroundEspacePerso.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.fixed
{
	position: fixed;
	width:2%;
}

.spaceForPlus
{
	margin-left: 210px;
	border-left: solid black thin;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	height: 180px;
}

.titre
{
	border-color: rgba(0,0,0,0.7);
}

.titre:hover
{
	background-color: rgba(255,255,255,0.7);
}

.dropdown
{
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content
{
    position: absolute;
    background-color: white;
		width: auto;
		height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		margin-left: -50px;
		margin-top: -73px;
		padding: 5px;
    z-index: 1;
		min-width: 80px;
		border-radius: 10px 20px;
		visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s, opacity 0.5s linear;
		overflow-y: scroll;
		overflow-x:hidden;
}

.dropdown:hover .dropdown-content
{
	visibility: visible;
	opacity: 1;
}

.scroll-verti
{
	overflow-y: scroll;
}
.minilogo
{
	width: 20px;
	height: 20px;
	margin-right:25px;
	margin-top: 5px;
}

.buttonsubmit
{
	margin: auto;
	background-color: transparent;
	color:white;
	font-size: 20px;
	width: 300px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid white thin;
	transition: 0.5s;
	text-align: center;
	margin-top: 30px;
	font-family: CenturyGothic,serif;
	padding-top:2px;
	padding-bottom:2px;
}

.buttonsubmit:hover
{
	transform: scale(1.1);
}

.buttonsubmit:hover
{
	cursor: pointer;
	background-color: white;
	color:black;
}

.divsubmit
{
	margin: auto;
	background-color: transparent;
	color:white;
	font-size: 20px;
	width: 300px;
	height: 28px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid white thin;
	transition: 0.5s;
	text-align: center;
	margin-top: 30px;
	font-family: CenturyGothic,serif;
}

.divsubmit:hover
{
	transform: scale(1.1);
	cursor: pointer;
	background-color: white;
	color:black;
}
.zonetexte
{
	width:400px;
}

.zonetexte2
{
	width:220px;
}
.zonenombre
{
	width: 190px;
}

.formulaire
{
	position: fixed;
	color: white;
	z-index: 35;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	transition:2s;
}

#formulaireAjoutMaison
{
	display: none;
}

#formulaireAjoutPiece
{
	display: none;
}

input[type=checkbox]
{
	width: 30px;
}

#login
{
	bottom: 0px;
	margin-top: 100px;
}

#login td
{
	background-color: transparent;
	margin: 0;
	padding: 10px;
	width: 150px;
}

#closeForm
{
	text-align: right;
	float: right;
}
#cross
{
	transition: all 0.5s;
	cursor: pointer;
	width:30px;
	position:relative;
	margin-right: -385px;
}
.floatRight
{
	float: right;
	margin-left: 50px;
}
#cross:hover
{
	transform: scale(1.5);
}

input
{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 30px;
	margin: 0;
	padding: 0;
	height: 35px;
	z-index: 10;
	width: 60px;
}
input:focus
{
	outline: none;
}

ul
{
	list-style-type: none;
}

.plus
{
	text-align: center ;


}
.liste-left
{
	text-align: right;
	margin-left: -44px;
	margin-top: -20px;
	padding: 5px;
	padding-right: 10px;
	width: 80%;
	border-right: solid thin;
	display: inline-block;

}
.liste-right
{
	text-align: left;
	padding: 5px;
	margin-top: -30px;
	width: 20%;
	display: inline-block;

}
.nomCapteur
{
	font-size: 50px;
	margin-right: 10px;
	width: 150px;
	padding-right: 10px;
	text-align: right;

}

.nomEtat
{
	font-size: 30px;
	margin-right: 10px;
	width: 150px;
	padding-right: 10px;
	text-align: left;

}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color:white;
}

a:active
{
	text-decoration: none;
	color: white;
}


.inline-block
{
	display: inline-block;
}
