html,body
{
overflow:hidden;
padding: 0px;
margin: 0px;
}

div, img
{
	margin:0px;
	padding: 0px;
	position: relative;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
:-moz-placeholder {
   color: white;
   opacity:  0.8;
}
::-moz-placeholder {
   color: white;
   opacity:  0.8;
}
:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.8);
}



.buttonsubmit
{
	margin: auto;
	background-color: transparent;
	color:white;
	font-size: 20px;
	width: 300px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid white thin;
	transition: 0.5s;
}

.buttonsubmit:hover
{
	transform: scale(1.1);
}
.buttonsubmit:hover
{
	cursor: pointer;
	background-color: white;
	color:black;
}
.buttonlangue
{
	background-color: transparent;
	border: none;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
}

.buttonsubmit:hover
{
	cursor: pointer;
	background-color: white;
	color:black;
}

.buttonsubmit:focus
{
	outline: none;
}

.falseDescription
{
	background-color: rgba(255, 255, 255, 0.8);
	border-width: 1px;
	border-radius: 5px;
	border: solid white thin;
}

input
{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 30px;
	border-bottom: solid white thin;
	margin: 0;
	padding: 0;
	height: 35px;
	z-index: 10;
}
input:focus
{
	outline: none;
}
.iconeError
{
	text-align: center;
	margin-top : 15px;
	background-color: transparent;
	color:red;
	font-size: 20px;
	width: 25px;
	height: 25px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid red thin;
	transition: 0.2s;
	z-index: 1;
	cursor: pointer;
}

.iconeError:hover
{
	transform: scale(1.1);
}

.iconeErrorDiv
{
	display: none;
	z-index: 1;
	width:400px;
	position:absolute;
	margin-top: -12px;
	margin-right: 0px;
	height: 60px;
	color: black;
	border-radius: 3px;
}


#barreAccueil
{
	z-index: 5;
	border-collapse: collapse;
	width: 100%;
	position: fixed;
	top: 80px;
	left: 0;
}

#barreAccueil td
{
	text-align: center;
}
#cross
{
	transition: all 0.5s;
	cursor: pointer;
	width:30px;
	position:relative;
	margin-right: -350px;
}

#cross:hover
{
	transform: scale(1.5);
}

#closeForm
{
	text-align: right;
	float: right;
}

#formulaire
{
	position: fixed;
	color: white;
	z-index: 6;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition:2s;
}
#itemLostPassword
{
	color:white;
	font-size: 15px;
}

#ligneServices td
{
	background-color: transparent;
	height: 2px;
	transition:0.5s;
}

#logo
{
	height: 60px;
}

#logo2
{
	height: 150px;
}

#logo2 .getBig
{
	height: 200px;
}

#logo2:hover
{
	cursor: pointer;
}

.messageCorrection
{
	text-align: center;
	position:absolute;
	margin-top: -12px;
	background-color:rgba(255,255,255,0.9);
	width:360px;
	height: 60px;
	color: black;
	border-radius: 5px;
	display: none;
	font-size: 20px;
	padding-top: 10px;
}



.iconeCorrection
{
	position:absolute;
	margin-top: -12px;
	margin-right: 0px;
	background-color:white;
	width:40px;
	height: 60px;
	color: black;
	border-radius: 3px;
}

.slogan
{
	font-family: CenturyGothic,serif;
	text-align:center;
	width: 100%;
	font-size: 50px;
	bottom: 0px;
	position:absolute;
	z-index: 8;
	color:black;
	background-color: rgba(255,255, 255, 0.5);
	transition: 0.5s;
	padding-bottom: 5px;
}

.zoomAnimation
{
	animation: zoom 4s ease infinite;
}
@keyframes zoom
{
	0% { transform: scale(1.0);}
  15% { transform: scale(1.05);}
	30% { transform: scale(1.0);}
}

.slogan:hover
{
	animation-play-state: paused;
	background-color: transparent;
	color:white;
	border-top: solid;
	border-bottom: solid;
	border-width: thin;
}

.sloganDescription
{
  justify-content: center;
	position: absolute;
	color: white;
	z-index: 8;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	transition:2s;
	display: none;
  vertical-align: middle;
}

.sloganDescriptionGuillemet
{
	width: 70px;
}

.sloganDescriptionInnerContainer
{
	vertical-align: middle;
	display: table-cell;
}

.sloganDescriptionP
{
	font-family: CenturyGothic,serif;
	text-align: center;
	font-size: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

#logoContainer
{
	top:7px;
	text-align: center;
	height: 40px;
	position:fixed;
	z-index: 10;
	width: 100%;
}

#login
{
	bottom: 0px;
	margin-top: 200px;
}

#login td
{
	text-align: center;
	background-color: transparent;
	margin: 0;
	padding: 0;
	width: 400px;
}

#login p
{
	min-height: inherit;
	display: none;
	font-weight: lighter;
	font-size: 20px;
	margin: 0;
	padding:0;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Arial";
}

.registrationTable
{
	bottom: 0px;
	margin-top: 200px;
}

.registrationTable td
{
	background-color: transparent;
	margin: 0;
	padding: 0;
	width: 400px;
}

.registrationTable input
{
	width: 100%;
	z-index: 10;
}

.registrationTable p
{
	min-height: inherit;
	display: none;
	font-weight: lighter;
	font-size: 20px;
	margin: 0;
	padding:0;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Arial";
}

.border-left
{
	border-left: solid;
	border-left-width: 2px;

}
.border-right
{
	border-right: solid;
	border-right-width: 2px;
}


.container
{
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

td
{
	color: white;
	width: 20%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 25px;
}

.margin0
{
	margin: 0;
}

.menuItem
{
	font-family: CenturyGothic,serif;
	cursor:pointer; /* apparence du curseur */
	transition: 1s;
}

.menuItem:hover{
	color: black;
	background-color: white;
}

#pageAccueil
{
	position: absolute;
}

.imgBackground
{
	width: 100%;
	position:relative;
	z-index: 1;
	height: 100%;
}

.zoom{
	transition: all 45s ease;
	-moz-transition: all 45s ease;
	-ms-transition: all 45s ease;
	-webkit-transition: all 45s ease;
	-o-transition: all 45s ease;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
}

.relative
{
	position: relative;
}

.langueselect
{
	position:fixed;
	z-index: 8;
	left:92%;
}

@font-face
{
	font-family: 'Adam';
	src:url('fonts/Adam.otf') format('otf'),
		url('fonts/Adam.svg') format('svg'),
		url('fonts/Adam.ttf') format('truetype'),
		url('fonts/Adam.woff') format('woff');
}

@font-face
{
	font-family: 'CenturyGothic';
	src:url('fonts/CenturyGothic.otf') format('otf'),
		url('fonts/CenturyGothic.svg') format('svg'),
		url('fonts/CenturyGothic.ttf') format('truetype'),
		url('fonts/CenturyGothic.woff') format('woff');
}
