@font-face
{
	font-family: 'Century';
	src: url();

}

.listepiece
{
	border-collapse: separate;
	word-wrap: break-word;
	width: 100vh;
	overflow hidden;
}


.textbox
{
	font-size: 20px;
	text-align: center;
	position:relative;
	border-radius: 10px 20px;
	margin: 30px;
	background-color: rgba(0,0,0,0.7);
	padding: 50px;
	text-align:center;
	max-height: 135px;
	max-width: 180px;

}

.textbox2
{
	font-size: 20px;
	text-align: center;
	position:relative;
	border-radius: 10px 10px;
	text-align:center;
}


.textbox:hover
{
	background-color: rgba(255,255,255,0.7);
	transition: 0.6s;
	text-decoration: underline;
	color:black;
	cursor:pointer;
}

body
{

	background-image:url("http://puaud.eu/appmvc/img/maison.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.fixed
{
	position: fixed;
	width:2%;
}
.scroll-hori
{
	overflow-x: auto;
  white-space: nowrap;
	width: 88%;
}

.spaceForPlus
{
	margin-left: 175px;
	border-left: solid black thin;
}
.titre
{
	border-color: rgba(0,0,0,0.7);
}

.titre:hover
{
	background-color: rgba(255,255,255,0.7);
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.minilogo
{
	width: 20px;
	height: 20px;
	margin-right:14px;
}


.buttonsubmit
{
	margin: auto;
	background-color: transparent;
	color:white;
	font-size: 20px;
	width: 300px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid white thin;
	transition: 0.5s;
}

.buttonsubmit:hover
{
	transform: scale(1.1);
}
.buttonsubmit:hover
{
	cursor: pointer;
	background-color: white;
	color:black;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 180px;
		height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		margin-left: -75px;
		margin-top: -90px;
		padding: 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content
{
    display: block;
}
#formulaire
{
	position: fixed;
	color: white;
	z-index: 6;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	transition:2s;
}
input[type=checkbox]
{
	width: 30px;
}
#login
{
	bottom: 0px;
	margin-top: 200px;
}

#login td
{
	background-color: transparent;
	margin: 0;
	padding: 10px;
	width: 150px;
}

#closeForm
{
	text-align: right;
	float: right;
}
#cross
{
	transition: all 0.5s;
	cursor: pointer;
	width:30px;
	position:relative;
	margin-right: -350px;
}

#cross:hover
{
	transform: scale(1.5);
}

input
{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 30px;
	margin: 0;
	padding: 0;
	height: 35px;
	z-index: 10;
	width: 60px;
}
input:focus
{
	outline: none;
}

ul
{
	list-style-type: none;
}

.plus
{
	text-align: center ;


}
.liste-left
{
	text-align: right;
	margin-left: -44px;
	margin-top: -20px;
	padding: 5px;
	padding-right: 10px;
	width: 80%;
	border-right: solid thin;
	display: inline-block;

}
.liste-right
{
	text-align: left;
	padding: 5px;
	margin-top: -30px;
	width: 20%;
	display: inline-block;

}
.nomCapteur
{
	font-size: 30px;
	margin-right: 10px;
	width: 150px;
	padding-right: 10px;
	text-align: right;

}
a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color:white;
}

a:active
{
	text-decoration: none;
	color: white;
}
