@font-face
{
	font-family: 'Century';
	src: url();
}
.spaceBetweenInput
{
	height: 60px;
}
@font-face
{
	font-family: 'Adam';
	src:url('fonts/Adam.otf') format('otf'),
		url('fonts/Adam.svg') format('svg'),
		url('fonts/Adam.ttf') format('truetype'),
		url('fonts/Adam.woff') format('woff');
}
#formulaire
{
	position: fixed;
	color: white;
	z-index: 20;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	transition:2s;
}
#closeForm
{
	text-align: right;
	float: right;
}

#ligneServices td
{
	background-color: transparent;
	height: 2px;
	transition:0.5s;
}

.login
{
	bottom: 0px;
	margin-top: 200px;
}

.login td
{
	text-align: center;
	background-color: transparent;
	margin: 0;
	padding: 0;
	width: 400px;
}
@font-face
{
	font-family: 'CenturyGothic';
	src:url('../fonts/CenturyGothic.otf') format('otf'),
		url('../fonts/CenturyGothic.svg') format('svg'),
		url('../fonts/CenturyGothic.ttf') format('truetype'),
		url('../fonts/CenturyGothic.woff') format('woff');
}

body
{
	background-image: url("../img/faq.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	width: auto;
	height: 100%;
	background-size: 100% 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#logoContainer
{
	top:7px;
	text-align: center;
	height: 40px;
	position:fixed;
	z-index: 21;
	width: 100%;
}

.imgBackground
{
	width: 100%;
	position:relative;
	/*z-index: 1;*/
	height: 100%;
}

.container
{
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

#barreAccueil
{
	z-index: 5;
	border-collapse: collapse;
	width: 100%;
	position: fixed;
	top: 80px;
	left: 0;
}

.menuItem
{
	font-family: CenturyGothic,serif;
	cursor:pointer; /* apparence du curseur */
	transition: 1s;
	color: white;
	width: 20%;
	height: 60px;
	text-align: center;
	font-size: 25px;
}

.menuItem:hover{
	color: black;
	background-color: white;
}

.menuItem
{
	color: white;
	width: 20%;
	height: 60px;
	font-size: 25px;
}

#logo
{
	height: 60px;
}

#logo2
{
	height: 150px;
}

#logo2 .getBig
{
	height: 200px;
}

#logo2:hover
{
	cursor: pointer;
}

.buttonsubmit
{
	margin: auto;
	background-color: transparent;
	color:white;
	font-size: 20px;
	width: 300px;
	transition: 0.5s;
	border-width: 1px;
	border-radius: 5px;
	border: solid white thin;
	transition: 0.5s;
	font-family: 'CenturyGothic';
}

.buttonsubmit:hover
{
	transform: scale(1.1);
}
.buttonsubmit:hover
{
	cursor: pointer;
	background-color: white;
	color:black;
}

input
{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 30px;
	border-bottom: solid white thin;
	margin: 0;
	padding: 0;
	height: 35px;
	z-index: 10;
	width: 440px;
}

input:focus
{
	outline: none;
}

.slogan
{
	font-family: CenturyGothic,serif;
	text-align:center;
	width: 100%;
	font-size: 40px;
	bottom: 0px;
	position:absolute;
	z-index: 6;
	color:black;
	background-color: rgba(255,255, 255, 0.5);
	transition: 0.5s;
	padding-bottom: 5px;
	animation: zoom 4s ease infinite;
}

@keyframes zoom
{
	35% {transform: scale(1.0);}
	50% {transform: scale(1.05);}
	65% {transform: scale(1.0);}
}

.slogan:hover
{
	animation-play-state: paused;
	background-color: rgba(0,0,0,0.5);
	color:white;
	border-top: solid;
	border-bottom: solid;
	border-width: thin;
	width: 100%;

}

.sloganDescription
{
  justify-content: center;
	position: absolute;
	color: white;
	z-index: 8;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	transition:2s;
	display: none;
  vertical-align: middle;
	margin: 0;
	padding: 0;
}


.sloganDescriptionInnerContainer
{
	vertical-align: middle;
	display: table-cell;
}

.sloganDescriptionP
{
	font-family: CenturyGothic,serif;
	text-align: center;
	font-size: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}


.FAQ
{
	font-size: 70px;
	background-color: rgba(0,0,0,0.5);
	margin-left: 60px;
	padding-right: 0px;
	padding-left: 0px;
	border-radius: 5px 5px;
}

.reponse
{
	font-size: 40px;
	background-color: rgba(0,0,0,0.5);
}


.textarea
{
	border-color: white;
	background-color: transparent;
  -moz-box-shadow: 1px 1px 12px white;
  -webkit-box-shadow: 1px 1px 12px white;
  box-shadow: 1px 1px 12px white;
	color:white;
}

.textarea:focus
{
	outline: none;
}
.question
{
	cursor: pointer;
	position: fixed;
	animation: none;
	font-size: 50px;
	font-family: CenturyGothic,serif;
	width: 100%;
	transition: 0.5s;
}

.question:hover
{
	transform: scale(1.05);

}

.manuel
{
	font-family: CenturyGothic,serif;
	text-align:center;
	width: 100%;
	font-size: 20px;
	bottom: 0px;
	position:fixed;
	z-index: 8;
	color:white;
	margin-bottom: 2px;
}

.lienmanuel
{
	color:white;
}

.lienmanuel:visited
{
	color:white;
}

.imgpdf
{
	width: 20px;
	height: 20px;
	margin-top: 2px;
}

#cross
{
	transition: all 0.5s;
	cursor: pointer;
	width:30px;
	position:relative;
}
#cross:hover
{
	transform: scale(1.5);
}

#closeForm
{
	float: right;
}
